@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

// Main section background and title
.main-section {
    &__background {
        &--hawaii {
            padding: $destination-page-padding;
            background-image: $hawaii-background;
            @include destination-background;
        }

        &--iceland{
            padding: $destination-page-padding;
            background-image: $iceland-background;
            @include destination-background;
        }

        &--greece{
            padding: $destination-page-padding;
            background-image: $greece-background;
            @include destination-background;
        }
    }

    &__title {
        font-size: $destination-title;
        color: $alternate-color;
        margin: 0; 
        padding-bottom: 60px;
    }
}

// Itinerary Cards
.itinerary-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__cards {
        text-align: center;
        width: 18vw;
        height: 40vh;
        background-color: $alternate-color;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-radius: 5px;

        &__title {
            font-size: $itinerary-title;
            font-weight: $bold-font-weight;
            text-align: center;
            padding-left: auto;
            padding-right: auto;
            border-bottom: 4px solid $default-color;
        }

        &--saturday {
            @extend .itinerary-section__cards;
            margin-left: 50px;
            margin-right: 50px;
        }

        &__list {
            list-style: none;
            font-size: $default-font-size;
            padding: 0;
        }

        &__item {
            background-color: $secondary-site-background;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}