@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

// Default website settings
body {
    background-color: $primary-site-background;
    font-family: $font-stack;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

// Navigation bar for website
.navigation-bar {
    background-color: $primary-site-background;
    padding-left: 105px;
    padding-right: 105px;
    display: flex;
    justify-content: space-between;

    &__title {
        @include title-font;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;

        &:has(.navigation-bar__list__item__link:hover) .navigation-bar__list__item__link--current {
            text-decoration: none;
        }

        &__item {
            list-style: none;

            &__link {
                color: $default-color;
                text-decoration: none;
                padding: 10px;

                &--current {
                    @include nav-bar-animation;
                    padding: 10px;
                }

                &:hover {
                    @include nav-bar-animation;
                }
            }
        }
    }
}

// Footer section for website
.footer-section {
    background-color: $secondary-site-background;

    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__contact {
        display: flex;
        flex-direction: column;

        &__title {
            @include title-font;
        }

        &__subtext {
            color: $alternate-font-color;
    
            &--head {
                color: $subtitle-color;
                font-size: $footer-substitle-size;
            }
        }
    }

    &__hours {
        &__title {
            @extend .footer-section__contact__title
        }

        &__dates {
            display: flex;
            flex-direction: row;
            
            &__columns {
                padding-right: 40px;

                &__subtext {
                    @extend .footer-section__contact__subtext;

                    &--head {
                        @extend .footer-section__contact__subtext--head;
                    }
                }
            }
        }
    }

    &__social {
        &__title {
            @extend .footer-section__contact__title;
            padding-bottom: 20px;
        }

        &__link {
            text-decoration: none;
            padding-right: 30px;
        }
    }
}