@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

// Hero Section
.hero-section {
    background-color: $secondary-site-background;

    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__title {
        width: 40vw;
        color: $alternate-font-color;

        margin: 0;
        padding-bottom: 20px;
    }

    &__description {
        font-size: $hero-description;
        width: 40vw;
        padding-bottom: 20px;
    }

    &__button {
        background-color: $subtitle-color;

        border: 0;
        padding: 10px 40px;

        border-radius: 20px;

        &__link {
            color: $button-font-color;
            font-size: $button-font-size;
        }

        &:hover {
            filter: brightness(90%);
        }
    }

    // Get Started Form
    &__form {
        display: flex;
        flex-direction: column;

        &__name {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;

            &__fill {
                width: 170px;
                height: 20px;
            }
        }

        &__contact {
            display: flex;
            flex-direction: column;

            &__fill {
                margin-bottom: 15px;
                height: 20px;
            }
        }

        &__destination {
            font-size: $default-font-size;
            margin-top: 10px;

            display: flex;
            justify-content: space-between;

            &__select {
                display: flex;
                flex-direction: column;

                &__choice {
                    font-size: $default-font-size;
                    width: 200px;
                    height: 25px;
                }
            }

            &__button {
                @extend .hero-section__button;
                width: 175px;
                height: 50px;
                margin-top: 60px;

                &--submit {
                    @extend .hero-section__form__destination__button;
                    width: 120px;
                    margin: 0;
                }

                &__link {
                    @extend .hero-section__button__link;
                }
            }
        }
    }

    @include mobile {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 20px;

        & img {
            margin-top: 20px;
            width: 100px;
        }

        &__title {
            width: 100vw;
        }

        &__description {
            width: 100vw;
        }

        &__form {
            &__name {
                display: flex;
                flex-direction: column;
            }

            &_destination {
                display: flex;
                flex-direction: row;
                align-self: start;
            }
        }
    }

    @include tablet {
        padding: 30px;

        & img {
            width: 350px;
        }
    }
}

// Recommendations Section
.recommendations {
    background-color: $primary-site-background;
    padding: 50px 100px 80px 100px;

    &__title {
        @include title-font;
        margin: 0;
        padding-bottom: 30px;
    }

    // Main Page Section
    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &--hawaii {
            @include destination-cards;
            @include background;
            background-image: $hawaii-background;

            &:hover {
                @include card-animation;
            }
        }

        &--iceland {
            @include destination-cards;
            @include background;
            background-image: $iceland-background;
            margin-left: 50px;
            margin-right: 50px;

            &:hover {
                @include card-animation;
            }
        }

        &--greece {
            @include destination-cards;
            @include background;
            background-image: $greece-background;

            &:hover {
                @include card-animation;
            }
        }

        &__title {
            @include destination-card-title;
        }
    }

    @include mobile {
        align-items: center;
        padding: 0;

        &__title {
            text-align: center;
            padding-top: 20px;
        }

        &__cards {
            display: flex;
            flex-direction: column;
            align-items: center;

            &--hawaii {
                width: 65vw;
                height: 30vh;
            }

            &--iceland {
                width: 65vw;
                height: 30vh;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            &--greece {
                width: 65vw;
                height: 30vh;
                margin-bottom: 30px;
            }

            &__title {
                color: $alternate-color;
                font-size: $title-size;
                font-weight: $bold-font-weight;
            
                text-align: right;
                margin: 0;
                padding-right: 20px;
                padding-top: 150px;
            }
        }
    }

    @include tablet {
        &__cards {
            &__title {
                padding-top: 250px;
            }
        }
    }

    @include desktop {
        &__cards {
            &__title {
                padding-top: 315px;
            }
        }
    }
}