.hero-section {
  background-color: #FEFAF5;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hero-section__title {
  width: 40vw;
  color: #335576;
  margin: 0;
  padding-bottom: 20px;
}
.hero-section__description {
  font-size: 0.8rem;
  width: 40vw;
  padding-bottom: 20px;
}
.hero-section__button, .hero-section__form__destination__button, .hero-section__form__destination__button--submit {
  background-color: #DB7A4E;
  border: 0;
  padding: 10px 40px;
  border-radius: 20px;
}
.hero-section__button__link, .hero-section__form__destination__button__link {
  color: #FFFFFF;
  font-size: 1rem;
}
.hero-section__button:hover, .hero-section__form__destination__button:hover, .hero-section__form__destination__button--submit:hover {
  filter: brightness(90%);
}
.hero-section__form {
  display: flex;
  flex-direction: column;
}
.hero-section__form__name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.hero-section__form__name__fill {
  width: 200px;
  height: 20px;
}
.hero-section__form__contact {
  display: flex;
  flex-direction: column;
}
.hero-section__form__contact__fill {
  margin-bottom: 15px;
  height: 20px;
}
.hero-section__form__destination {
  font-size: 1rem;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.hero-section__form__destination__select {
  display: flex;
  flex-direction: column;
}
.hero-section__form__destination__select__choice {
  font-size: 1rem;
  width: 200px;
  height: 25px;
}
.hero-section__form__destination__button, .hero-section__form__destination__button--submit {
  width: 175px;
  height: 50px;
  margin-top: 60px;
}
.hero-section__form__destination__button--submit {
  width: 120px;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .hero-section img {
    margin-top: 20px;
    width: 100px;
  }
  .hero-section__title {
    width: 100vw;
  }
  .hero-section__description {
    width: 100vw;
  }
}

.recommendations {
  background-color: #FFFFFF;
  padding: 50px 100px 80px 100px;
}
.recommendations__title {
  font-size: 1.5rem;
  color: #335576;
  margin: 0;
  padding-bottom: 30px;
}
.recommendations__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.recommendations__cards--hawaii {
  width: 20vw;
  height: 52vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/images/hawaii.jpg);
}
.recommendations__cards--hawaii:hover {
  border: 3px solid #DB7A4E;
  opacity: 0.8;
}
.recommendations__cards--iceland {
  width: 20vw;
  height: 52vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/images/iceland.jpg);
  margin-left: 50px;
  margin-right: 50px;
}
.recommendations__cards--iceland:hover {
  border: 3px solid #DB7A4E;
  opacity: 0.8;
}
.recommendations__cards--greece {
  width: 20vw;
  height: 52vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/images/greece.jpg);
}
.recommendations__cards--greece:hover {
  border: 3px solid #DB7A4E;
  opacity: 0.8;
}
.recommendations__cards__title {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  margin: 0;
  padding-right: 20px;
  padding-top: 355px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .recommendations {
    align-items: center;
    padding: 0;
  }
  .recommendations__title {
    text-align: center;
    padding-top: 20px;
  }
  .recommendations__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recommendations__cards--hawaii {
    width: 65vw;
    height: 30vh;
  }
  .recommendations__cards--iceland {
    width: 65vw;
    height: 30vh;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .recommendations__cards--greece {
    width: 65vw;
    height: 30vh;
    margin-bottom: 30px;
  }
  .recommendations__cards__title {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
    margin: 0;
    padding-right: 20px;
    padding-top: 10rem;
  }
}/*# sourceMappingURL=main.css.map */