.hero-section {
  background-color: #FEFAF5;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hero-section__title {
  width: 30vw;
  color: #335576;
  margin: 0;
  padding-bottom: 20px;
}
.hero-section__description {
  width: 45vw;
  padding-bottom: 20px;
}
.hero-section__button, .hero-section__form__destination__button, .hero-section__form__destination__button--submit {
  background-color: #DB7A4E;
  border: 0;
  padding: 10px 40px;
  border-radius: 20px;
}
.hero-section__button__link, .hero-section__form__destination__button__link {
  color: #FFFFFF;
  font-size: 18px;
}
.hero-section__button:hover, .hero-section__form__destination__button:hover, .hero-section__form__destination__button--submit:hover {
  filter: brightness(90%);
}
.hero-section__form {
  display: flex;
  flex-direction: column;
}
.hero-section__form__name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.hero-section__form__name__fill {
  width: 200px;
  height: 20px;
}
.hero-section__form__contact {
  display: flex;
  flex-direction: column;
}
.hero-section__form__contact__fill {
  margin-bottom: 15px;
  height: 20px;
}
.hero-section__form__destination {
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.hero-section__form__destination__select {
  display: flex;
  flex-direction: column;
}
.hero-section__form__destination__select__choice {
  font-size: 16px;
  width: 200px;
  height: 25px;
}
.hero-section__form__destination__button, .hero-section__form__destination__button--submit {
  width: 175px;
  height: 50px;
  margin-top: 60px;
}
.hero-section__form__destination__button--submit {
  width: 120px;
  margin: 0;
}
.recommendations {
  background-color: #FFFFFF;
  padding: 50px 100px 80px 100px;
}
.recommendations__title {
  font-size: 22px;
  color: #335576;
  margin: 0;
  padding-bottom: 30px;
}
.recommendations__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.recommendations__cards--hawaii {
  width: 20vw;
  height: 60vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/images/hawaii.jpg);
}
.recommendations__cards--hawaii:hover {
  border: 3px solid #DB7A4E;
  opacity: 0.8;
}
.recommendations__cards--iceland {
  width: 20vw;
  height: 60vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/images/iceland.jpg);
  margin-left: 50px;
  margin-right: 50px;
}
.recommendations__cards--iceland:hover {
  border: 3px solid #DB7A4E;
  opacity: 0.8;
}
.recommendations__cards--greece {
  width: 20vw;
  height: 60vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/images/greece.jpg);
}
.recommendations__cards--greece:hover {
  border: 3px solid #DB7A4E;
  opacity: 0.8;
}
.recommendations__cards__title {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  text-align: right;
  margin: 0;
  padding-right: 20px;
  padding-top: 410px;
}/*# sourceMappingURL=main.css.map */