@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

// Hero Section
.hero-section {
    background-color: $secondary-site-background;

    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__title {
        width: 30vw;
        color: $alternate-font-color;

        margin: 0;
        padding-bottom: 20px;
    }

    &__description {
        width: 45vw;
        padding-bottom: 20px;
    }

    &__button {
        background-color: $subtitle-color;
        color: $button-font-color;
        font-size: $button-font-size;

        border: 0;
        padding: 10px 40px;

        border-radius: 20px;
    }
}

// Recommendations Section
.recommendations {
    background-color: $primary-site-background;
    padding: 50px 100px 80px 100px;

    &__title {
        @include title-font;
        margin: 0;
        padding-bottom: 30px;
    }

    &__destinations {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &--hawaii {
            @include destination-cards;
            @include background;
            background-image: $hawaii-background;
        }

        &--iceland {
            @include destination-cards;
            @include background;
            background-image: $iceland-background;
            margin-left: 50px;
            margin-right: 50px;
        }

        &--greece {
            @include destination-cards;
            @include background;
            background-image: $greece-background;
        }

        &--title {
            @include destination-card-title;
        }
    }
}