$font-stack: Verdana, Geneva, Tahoma, sans-serif;

$default-font-size: 1rem;
$title-size: 1.5rem;
$hero-description: 0.8rem;
$destination-title: 3.75rem;
$itinerary-title: 1.25rem;
$footer-substitle-size: 0.75rem;
$button-font-size: 1rem;

$default-font-weight: 400;
$light-font-weight: 300;
$bold-font-weight: 700;