$font-stack: Verdana, Geneva, Tahoma, sans-serif;

$default-font-size: 16px;
$title-size: 22px;
$destination-title: 60px;
$itinerary-title: 18px;
$footer-substitle-size: 10px;
$button-font-size: 18px;

$default-font-weight: 400;
$light-font-weight: 300;
$bold-font-weight: 700;