@use 'fonts' as *;
@use 'variables' as *;

// Background Image Mixins
@mixin background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Navigation Bar Mixins
@mixin title-font {
    font-size: $title-size;
    color: $alternate-font-color;
}

@mixin nav-bar-animation {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: $subtitle-color;
    text-underline-offset: 10px;
}

// Homepage Recommendation Mixins
@mixin destination-cards {
    width: 20vw;
    height: 52vh;

    border: 1px solid $default-light-color;
    border-radius: 5px;
    box-shadow: 0px 4px 4px $default-light-color;
    

    text-decoration: none;
}

@mixin card-animation {
    border: 3px solid $subtitle-color;
    opacity: 0.8;
}

@mixin destination-card-title {
    color: $alternate-color;
    font-size: $title-size;
    font-weight: $bold-font-weight;

    text-align: right;
    margin: 0;
    padding-right: 20px;
    padding-top: 355px;
}

// Destination Page Mixins
@mixin destination-background {
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: 100% 52.25%;
}

// Respopnsive Design

// Mobile: 320px ~ 767px
@mixin mobile {
    @media (min-width: $mobile-min-breakpoint) and (max-width: $mobile-max-breakpoint) {
        @content;
    }
}

// Tablet: 768px ~ 1279px
@mixin tablet {
    @media (min-width: $tablet-min-breakpoint) and (max-width: $tablet-max-breakpoint) {
        @content;
    }
}

// Desktop: > 1280px
@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}