// Colors
$primary-site-background: #FFFFFF;
$secondary-site-background: #FEFAF5;

$default-font-color: #000000;
$alternate-font-color: #335576;
$subtitle-color: #DB7A4E;
$button-font-color: #FFFFFF;

// Variables