// Colors
$primary-site-background: #FFFFFF;
$secondary-site-background: #FEFAF5;

$default-color: #000000;
$default-light-color: rgba(0,0,0,0.2);
$alternate-color: #FFFFFF;

$alternate-font-color: #335576;
$subtitle-color: #DB7A4E;
$button-font-color: #FFFFFF;

// Variables
$hawaii-background: url(../../assets/images/hawaii.jpg);
$iceland-background: url(../../assets/images/iceland.jpg);
$greece-background: url(../../assets/images/greece.jpg);

$destination-page-padding: 50px 100px 120px 100px;