// Colors
$primary-site-background: #FFFFFF;
$secondary-site-background: #FEFAF5;

$default-color: #000000;
$default-light-color: rgba(0,0,0,0.2);
$alternate-color: #FFFFFF;

$alternate-font-color: #335576;
$subtitle-color: #DB7A4E;
$button-font-color: #FFFFFF;

// Variables
$hawaii-background: url(../../assets/images/hawaii.jpg);
$iceland-background: url(../../assets/images/iceland.jpg);
$greece-background: url(../../assets/images/greece.jpg);

$destination-page-padding: 40px 100px 140px 100px;

// Media Query Breakpoints

// Mobile: 320px ~ 767px
$mobile-min-breakpoint: 320px;
$mobile-max-breakpoint: 767px;

// Tablet: 768px ~ 1279px
$tablet-min-breakpoint: 768px;
$tablet-max-breakpoint: 1279px;

// Desktop: > 1280px
$desktop-width-breakpoint: 1280px;
$desktop-height-breakpoint: 778px;
